@model IEnumerable<OnlineFoodWebsite.Model.HOADON>

@{
    ViewBag.Title = "Details";
}

<h2>Đơn hàng đã mua</h2>

<div>
    <h4>Mã khách hàng: @ViewBag.MAKH</h4>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>
                Mã khách hàng
            </th>
            <th>
                Ngày lập
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Giảm giá
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>

        @{
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAKH)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAYLAP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TONGTIEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GIAMGIA) %
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GHICHU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TRANGTHAI)
                    </td>
                    <td>
                       
                        @Html.ActionLink("Chi tiết", "Details","HOADONs", new { id = item.MAHD },null)
                    </td>
                </tr>
            }
        }
    </table>

</div>
