@model IEnumerable<OnlineFoodWebsite.Model.KHACHHANG>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách khách hàng</h2>


<table class="table">
    <tr>
        <th>
           STT
        </th>
        <th>
            Mã khách hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            SĐT
        </th>
        <th>
           Địa chỉ
         </th>
       
        <th>Email</th>
    </tr>

@{
    int i =0;
    foreach (var item in Model) {
        i++;
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENKH)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td> @Html.DisplayFor(modelItem => item.EMAIL)</td>
        <td>
            @Html.ActionLink("Xem đơn hàng đã mua", "Details", new { id = item.MAKH })

        </td>
    </tr>
    }
    }
</table>
