@model IEnumerable<OnlineFoodWebsite.Model.CTNNL>

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết nhập nguyên liệu</h2>

    <h4>@ViewBag.TENNL</h4>
    <table class="table">
        <tr>
            <th>
                STT
            </th>

            <th>
                Số lượng
            </th>
            <th>
                Đơn vị tính
            </th>
            <th>
                Chi phí
            </th>
            <th>
                Ghi chú
            </th>
            <th>Thời gian cập nhật</th>

        </tr>

        @{
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SOLUONG)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DONVITINH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CHIPHI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GHICHU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAYNHAP)
                    </td>

                </tr>
            }
        }
    </table>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
