@model IEnumerable<OnlineFoodWebsite.Model.CTHD>

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

@*<div>
    <h4>@("Đơn hàng "+Model.MAHD)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYLAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYLAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANHTIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANHTIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAMGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAMGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHICHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHICHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

    </dl>
</div>*@
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            Tên món
        </th>
        <th>
            Hình ảnh
        </th>
        <th>Số lượng</th>
        <th>Giá</th>
        <th>
            Ghi chú
        </th>

    </tr>

    @{
        int i = 0;
        foreach (var item in Model)
        {
            i++;
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.MON.TENMON)
            </td>
            <td>
                <img src="~/Areas/Administrator/Content/images/@Url.Content(item.MON.HINHANH)" alt="Image" width="128" height="128" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON.GIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GHICHU)
            </td>


        </tr>
            }
        }
</table>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
