@model IEnumerable<OnlineFoodWebsite.Model.HOADON>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách đơn hàng</h2>
<br />
Chọn ngày lập
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Nhập ngày lập" title="Type in a name">
<br />

<table class="table" id="myTable">
    <tr>
        <th>STT</th>
        <th>Mã đơn hàng</th>
        <th>
            Mã khách hàng
        </th>
        <th>
            Ngày lập
        </th>

        <th>
            Ghi chú
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @{
        int i = 0;
        foreach (var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAHD)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAKH)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYLAP)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.GHICHU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRANGTHAI)
                </td>
                <td>
                    @Html.ActionLink("Cập nhật", "Edit", new { id = item.MAHD }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MAHD })
                </td>
            </tr>
        }
    }
</table>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>