@model OnlineFoodWebsite.Model.MON

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>@Model.TENMON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã món
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAMON)
        </dd>
        <br />
        <dt>
            Tên món
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENMON)
        </dd>
        <br />
        <dt>
            Loại món
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAI)
        </dd>
        <br />
        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>
        <br />
        <dt>
            Đơn vị tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVITINH)
        </dd>
        <br />
        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>
        <br />
        <dt>
            Hình minh họa
        </dt>

        <dd>
            <img src="~/Areas/Administrator/Content/images/@Url.Content(Model.HINHANH)" alt="Image" width="128" height="128" />
        </dd>
        <br />
        <dt>
            Tình trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MAMON }) |
    @Html.ActionLink("Quay về danh sách", "Index")
</p>
