@model IEnumerable<OnlineFoodWebsite.Model.MON>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách Menu</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Tên món ăn
        </th>
        
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TENMON)
    </td>
    
    <td>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MAMON }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.MAMON }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MAMON })
    </td>
</tr>
}

</table>
