@model OnlineFoodWebsite.Model.TAIKHOAN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TAIKHOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TENTK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
